.game-header {
	text-align: center
}

.card-back, .card-front {
  height: 50px;
  text-align: center;
  border: 1px solid white;
}

.card-front {
  background-color: white;
}

.card-back {
  background-color: black;
}

.card-cleared {
  background-color: lightgrey;
  color: lightgrey;
}

.game-board {

}